body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:601px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:1345px;
  height:600px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:601px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:60px;
  height:600px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F5F5F5;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:49px;
  width:26px;
  height:26px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:241px;
  width:20px;
  height:20px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:284px;
  width:20px;
  height:20px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:326px;
  width:20px;
  height:20px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:369px;
  width:20px;
  height:20px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:198px;
  width:20px;
  height:20px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:183px;
  width:62px;
  height:20px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:184px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:113px;
  width:20px;
  height:20px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:156px;
  width:20px;
  height:20px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:142px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:28px;
  width:396px;
  height:141px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:237px;
  width:976px;
  height:337px;
}
#u1705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:33px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:170px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:33px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:0px;
  width:255px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:33px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:0px;
  width:255px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:33px;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:0px;
  width:158px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:154px;
  word-wrap:break-word;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:32px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:32px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:32px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:32px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:62px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:62px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:62px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:62px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:92px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:92px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:92px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:92px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:122px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:122px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:122px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1757 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:152px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1759 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:152px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:152px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:152px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:182px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1769 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:182px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1771 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:182px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1773 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:182px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1777 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:212px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1779 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:212px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:212px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:212px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:242px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:242px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:242px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:242px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:272px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:272px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:272px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:272px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:133px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:302px;
  width:170px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u1809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:302px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:31px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:302px;
  width:255px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:251px;
  word-wrap:break-word;
}
#u1813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:31px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:302px;
  width:158px;
  height:30px;
  color:#666666;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:189px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:189px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:276px;
  width:16px;
  height:16px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:306px;
  width:16px;
  height:16px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:336px;
  width:16px;
  height:16px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:366px;
  width:16px;
  height:16px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:396px;
  width:16px;
  height:16px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:426px;
  width:16px;
  height:16px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:456px;
  width:16px;
  height:16px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:486px;
  width:16px;
  height:16px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:516px;
  width:16px;
  height:16px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:546px;
  width:16px;
  height:16px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:189px;
  width:81px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#666666;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:115px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:163px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:1249px;
  top:51px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:55px;
  width:12px;
  height:12px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:51px;
  width:6px;
  height:6px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:49px;
  width:234px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u1881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:52px;
  width:12px;
  height:12px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:306px;
  width:16px;
  height:16px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:51px;
  width:121px;
  height:18px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:103px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:131px;
  width:157px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:115px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
