body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u12313 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:375px;
  height:667px;
}
#u12314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u12315 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:25px;
  width:375px;
  height:63px;
}
#u12316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:11px;
}
#u12317 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:31px;
  width:356px;
  height:11px;
}
#u12318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:552px;
}
#u12319 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:88px;
  width:375px;
  height:551px;
}
#u12320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12321 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:650px;
  width:32px;
  height:32px;
}
#u12322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:54px;
}
#u12323 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:639px;
  width:108px;
  height:53px;
}
#u12324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12325 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:57px;
  width:16px;
  height:16px;
}
#u12326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u12327 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:55px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u12328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u12329 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:54px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u12331 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:57px;
  width:16px;
  height:16px;
}
#u12332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12334 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:656px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:54px;
}
#u12336 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:639px;
  width:108px;
  height:53px;
}
#u12337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:54px;
}
#u12338 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:639px;
  width:108px;
  height:53px;
}
#u12339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12342 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:656px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12346 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:656px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
