body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1184px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:646px;
}
#u13749 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:20px;
  width:375px;
  height:645px;
}
#u13750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u13751 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:20px;
  width:375px;
  height:63px;
}
#u13752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:11px;
}
#u13753 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:26px;
  width:356px;
  height:11px;
}
#u13754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13755 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:52px;
  width:16px;
  height:16px;
}
#u13756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u13757 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:50px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u13758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u13759 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:49px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13761 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:50px;
  width:20px;
  height:20px;
}
#u13762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:164px;
}
#u13764 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:142px;
  width:375px;
  height:163px;
}
#u13765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u13766 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:162px;
  width:195px;
  height:18px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u13767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u13768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:21px;
}
#u13768 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:201px;
  width:265px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u13770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u13771 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:201px;
  width:64px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u13773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
}
#u13773 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:273px;
  width:131px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u13775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u13775 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:273px;
  width:54px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u13777 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:269px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u13780 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:161px;
  width:54px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u13782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
}
#u13782 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:227px;
  width:178px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:164px;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:315px;
  width:375px;
  height:163px;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:335px;
  width:195px;
  height:18px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u13789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:21px;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:374px;
  width:265px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:374px;
  width:64px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u13794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:446px;
  width:131px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u13796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:446px;
  width:54px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:442px;
  width:74px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:334px;
  width:54px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u13803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:400px;
  width:178px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:164px;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:488px;
  width:375px;
  height:163px;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:508px;
  width:195px;
  height:18px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u13810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:21px;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:547px;
  width:265px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:547px;
  width:64px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u13815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:15px;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:619px;
  width:131px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u13817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:619px;
  width:54px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u13819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:615px;
  width:61px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:507px;
  width:54px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:50px;
  word-wrap:break-word;
}
#u13824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:21px;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:573px;
  width:178px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u13826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:93px;
  width:120px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u13828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:93px;
  width:120px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u13830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:93px;
  width:120px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u13832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:646px;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:20px;
  width:375px;
  height:645px;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:20px;
  width:375px;
  height:63px;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:11px;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:26px;
  width:356px;
  height:11px;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:52px;
  width:16px;
  height:16px;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:50px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:49px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:50px;
  width:20px;
  height:20px;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:541px;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:93px;
  width:375px;
  height:540px;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13849 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:102px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u13851 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:102px;
  width:158px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u13853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13854 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:356px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:126px;
}
#u13856 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:356px;
  width:290px;
  height:125px;
}
#u13857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:88px;
}
#u13858 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:370px;
  width:265px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:20px;
}
#u13859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u13860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13861 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:190px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
}
#u13863 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:190px;
  width:117px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u13865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u13865 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:213px;
  width:290px;
  height:1px;
}
#u13866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13868 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:245px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
}
#u13870 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:245px;
  width:117px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u13872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:268px;
  width:290px;
  height:1px;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:513px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:97px;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:512px;
  width:80px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:76px;
  word-wrap:break-word;
}
#u13880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:97px;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:512px;
  width:80px;
  height:96px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:76px;
  word-wrap:break-word;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:301px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:19px;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:301px;
  width:117px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u13887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:324px;
  width:290px;
  height:1px;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:144px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:right;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:144px;
  width:158px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:144px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u13897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:19px;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:144px;
  width:158px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u13899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:691px;
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:20px;
  width:375px;
  height:690px;
}
#u13900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:337px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:64px;
}
#u13901 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:20px;
  width:375px;
  height:63px;
}
#u13902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:11px;
}
#u13903 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:26px;
  width:356px;
  height:11px;
}
#u13904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13905 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:52px;
  width:16px;
  height:16px;
}
#u13906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u13907 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:50px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u13908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:23px;
}
#u13909 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:49px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13911 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:50px;
  width:20px;
  height:20px;
}
#u13912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:628px;
}
#u13913 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:83px;
  width:375px;
  height:627px;
}
#u13914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:306px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:229px;
}
#u13915 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:117px;
  width:335px;
  height:229px;
}
#u13916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13918 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:375px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13920 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:374px;
  width:20px;
  height:20px;
}
#u13921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13923 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:408px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13925 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:407px;
  width:20px;
  height:20px;
}
#u13926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13928 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:441px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13930 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:440px;
  width:20px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u13932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13933 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:474px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13935 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:473px;
  width:20px;
  height:20px;
}
#u13936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13938 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:507px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13940 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:506px;
  width:20px;
  height:20px;
}
#u13941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13943 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:540px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13945 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:539px;
  width:20px;
  height:20px;
}
#u13946 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13948 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:573px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13950 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:572px;
  width:20px;
  height:20px;
}
#u13951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:19px;
}
#u13953 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:606px;
  width:206px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  word-wrap:break-word;
}
#u13955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13955 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:605px;
  width:20px;
  height:20px;
}
#u13956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u13957 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:661px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u13959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
}
#u13959 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:661px;
  width:144px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u13961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13961 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:93px;
  width:24px;
  height:24px;
}
#u13962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u13963 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:105px;
  width:12px;
  height:12px;
}
#u13964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
